# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS-specific
.DS_Store
Thumbs.db

# Environment variables or secrets
*.env
.env
secrets.json

# Cache / logs
*.log

# IDE / Editor junk
.vscode/
.idea/
